@font-face {
    font-family: "Minecraft";
    src: url("../fonts/Minecraft.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    --default-cursor: url("../media/cursor/default.png"), default;
    --pointer-cursor: url("../media/cursor/pointer.png") 10 10, pointer;
    --text-cursor: url("../media/cursor/text.png") 6 10, text;
}

body,
html {
    min-width: 100vw;
    min-height: 100vh;
    margin: 0;
}

body {
    background-image: url("../media/background.webp");
    background-attachment: fixed;
    background-size: cover;
}

body,
li::marker {
    cursor: var(--default-cursor);
}

a {
    cursor: var(--pointer-cursor);
}

p,
li {
    cursor: var(--text-cursor);
}
