body {
    padding: 50px 25px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.container {
    width: min(600px, 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: 2rem;
    flex: 1;
}

.title {
    user-select: none;
}

.logo {
    max-width: 100%;
}

.tooltip {
    display: none;
    max-width: 458px;
    padding: 0.25rem;
    border: 4px solid transparent;
    border-image: url("../media/gui/tooltip.png") 2 fill / 1 repeat;

    color: white;
    font-size: 20px;
    line-height: 1em;
    font-family: "Minecraft", sans-serif;
    text-shadow: 2px 2px #2a2a2a;

    position: fixed;
    pointer-events: none;
    image-rendering: pixelated;
}

.menu {
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 10px;
}

.menu_row {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.players_grid {
    min-height: 175px;
    padding: 0.66rem;
    overflow-y: scroll;

    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.players_entry {
    /* (Menu width - padding) / (columns + 1), extra column because of border */
    min-width: calc(calc(600px - 2rem) / 3);

    display: flex;
    align-items: center;
    gap: 1rem;
    flex: 1;
}

.players_skin {
    display: block;
    width: 24px; /* Multiple of 8 because skin has 8 pixels across */
    image-rendering: pixelated;
}

.players_name {
    cursor: var(--text-cursor);
}

.footer_link img {
    width: 50px;
}
