@font-face {
    font-family: "Minecraft";
    src: url("/assets/Minecraft.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    --default-cursor: url("/assets/cursor/default.png"), default;
    --pointer-cursor: url("/assets/cursor/pointer.png") 10 10, pointer;
    --text-cursor: url("/assets/cursor/text.png") 6 10, text;
}

body,
html {
    min-width: 100%;
    min-height: 100%;
    margin: 0;
}

body {
    background-image: url("/assets/background.webp");
    background-attachment: fixed;
    background-size: cover;
}

body,
li::marker {
    cursor: var(--default-cursor);
}

a {
    cursor: var(--pointer-cursor);
}

p,
li {
    cursor: var(--text-cursor);
}
