@font-face {
    font-family: "Minecraft";
    src: url("/assets/Minecraft.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body,
html {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    background-image: url("/assets/background.webp");
    background-attachment: fixed;
    background-size: cover;

    cursor: url("/assets/cursor/default.png"), default;
}

a {
    cursor:
        url("/assets/cursor/pointer.png") 10 10,
        pointer;
}

p,
li {
    cursor:
        url("/assets/cursor/text.png") 6 10,
        text;
}
