body {
    padding: 50px 25px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.container {
    width: min(600px, 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: 2rem;
    flex: 1;
}

.title {
    user-select: none;
}

.logo {
    max-width: 100%;
}

.tooltip {
    display: none;
    max-width: 500px;
    padding: 1rem;
    border: 6px solid transparent;
    border-image: url("/assets/gui/tooltip-border.png") 3 fill / 1 repeat;

    color: white;
    font-size: 20px;
    line-height: 1.5rem;
    font-family: "Minecraft", sans-serif;

    position: fixed;
    pointer-events: none;
    image-rendering: pixelated;
}

.menu {
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 10px;
}

.menu_row {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.players_grid {
    height: min(155px, 100%);
    padding: 0.66rem;
    overflow: scroll;

    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.players_entry {
    /* (Menu width - padding) / (columns + 1), extra column because of border */
    min-width: calc(calc(600px - 2rem) / 3);

    display: flex;
    align-items: center;
    gap: 1rem;
    flex: 1;
}

.players_skin {
    display: block;
    height: 1em;
    image-rendering: pixelated;
}

.players_name {
    cursor:
        url("/assets/cursor/text.png") 6 10,
        text;
}

.footer_link img {
    width: 50px;
}
