.menu_button {
    all: unset;

    padding: 9px; /* Quite an arbitrary value, but it matches with the final size of the icons and makes every button have the same height */
    background-image: url("/assets/gui/button-background.png");
    background-size: calc(196px * 2); /* Based on image proportions */
    border: 2px solid black;
    box-shadow:
        inset 2px 2px #aaa,
        inset -2px -4px #565656;

    color: white;
    font-family: "Minecraftia", sans-serif;
    text-shadow: 2px 2px #4c4c4c;
    text-overflow: ellipsis;
    line-height: 1;

    user-select: none;
    image-rendering: pixelated;
    cursor:
        url("/assets/cursor/pointer.png") 10 10,
        pointer;

    display: flex;
    justify-content: safe center;
    align-items: center;
    flex: 1;
}

.menu_button.-icon {
    padding: 2px; /* Inset box shadow size */
    flex: none;

    img {
        display: block;
        width: 30px; /* Looks big enough and is a multiple of the original size */
    }
}

.menu_button:hover:not([disabled]) {
    color: yellow;
    background-image: url("/assets/gui/button-background-hover.png");
    box-shadow:
        inset 2px 2px #bdc6ff,
        inset -2px -4px #59639a;
}

.menu_button:disabled {
    box-shadow: unset;
    background-image: url("/assets/gui/button-background-disabled.png");
    cursor: url("/assets/cursor/default.png"), default;
}
